name: prod build

on:
  push:
    branches:
      - main
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          make install
      - name: Lint with pylint
        run: |
          make lint
      - name: Test with pytest
        run: |
          make test
      - name: Format code
        run: |
          make format

  deploy:
    #needs: build
    runs-on: ubuntu-latest
    steps:
      # defaults to repo that this github actions file is in
      - name: checkout
        uses: actions/checkout@v3

#      - name: Deploy an App Engine
#        uses: google-github-actions/deploy-appengine@v0.8.0
##        with:
##          # ${{ github actions syntax
##          credentials: ${{ secrets.gcp_credentials }}

      # Setup gcloud CLI
      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@main
        with:
          service_account_key: ${{ secrets.GCP_CREDS }}
          export_default_credentials: true 
        env:
          API_KEY: ${{ secrets.HF_KEY }}

      - name: Deploy Backend to App Engine Develop
        run: |
          gcloud config set project $GCLOUD_PROJECT
          gcloud app deploy --version 20220515t211714